body {
  background-color: #82a43a;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 28ps;
}

.project-image {
  width: 50px;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}
